{% extends 'shared/base.html' %}
{% load static %}


{% block title %} Login {% endblock %}


{% block head %}
<link rel="stylesheet" href="{% static 'account/login/css/style.css' %}">
{% endblock %}


{% block body %}
<section class="main-left">
    <h1>VMAP</h1>
    <p>Ainda não possui uma conta?</p>
    <a href="{% url 'account:register' %}">Cadastro</a>
</section>

<section class="main-right">
    <h2>Acesso</h2>
    <p>Para acessar informe seus dados abaixo:</p>

    <form action="{% url 'account:login' %}" method="post">
        {% csrf_token %}

        <label class="label_text">
            <input required name="username" type="text" class="text" placeholder="Nome de Usuário">
        </label>

        <label class="label_password">
            <input required name="password" type="password" class="password" placeholder="Senha de Acesso">
        </label>

        <label for="">
            <input class="button" type="submit" value="Entrar">
        </label>
    </form>

    {% if messages %}
    {% for message in messages %}
    <div class='alert {{ message.tags }} mt-3 py-2' role='alert'>{{ message }}</div>
    {% endfor %}
    {% endif %}
</section>
{% endblock %}
