{% extends 'shared/base.html' %}
{% load static %}


{% block title %} Cadastro {% endblock %}


{% block head %}
<link rel="stylesheet" href="{% static 'account/register/css/style.css' %}">
{% endblock %}


{% block body %}
<section class="main-left">
    <h1>VMAP</h1>
    <p>Já possui uma conta?</p>
    <a href="{% url 'account:login' %}">Login</a>
</section>

<section class="main-right">
    <h2>Cadastro</h2>
    <p>Para se cadastrar informe seus dados abaixo:</p>

    <form action="{% url 'account:register' %}" method="post">
        {% csrf_token %}
        <label class="label_text">
            <input required name="first" type="text" class="text" placeholder="Nome">
        </label>

        <label class="label_text">
            <input required name="last" type="text" class="text" placeholder="Sobrenome">
        </label>

        <label class="label_text">
            <input required name="username" type="text" class="text" placeholder="Nome de Usuário">
        </label>

        <label class="label_email">
            <input required name="email" class="email" type="email" placeholder="Email">
        </label>

        <label class="label_password">
            <input required name="password" class="password" type="password" placeholder="Senha de Acesso">
        </label>

        <label class="label_password">
            <input required name="password2" class="password" type="password" placeholder="Confirmar Senha">
        </label>

        <label for="">
            <input class="button" type="submit" value="Confirmar">
        </label>
    </form>


    {% if messages %}
    {% for message in messages %}
    <div class='alert {{ message.tags }} mt-3 py-2' role='alert'>{{ message }}</div>
    {% endfor %}
    {% endif %}
</section>
{% endblock %}
